body {
	font-size: 11px;
}
table{
	border-collapse:collapse;
}
table, td, th{
	border:1px solid black;
	padding:5px;
}
table .heading{
	background-color: #666;
	color: #FFF;
	padding:5px;
}
.colgray{
	
	background-color: #EEE;
}
.statusn{
	color: #F20000;
	font-size: 18px;
}
.statusf{
	color: green;
	font-size: 18px;
}

