
@charset "utf-8";
/* CSS Document */

@charset "utf-8";
/* CSS Document */
body { }
#sig table,th,td{ 
	border:none;
	font-size: 11px;
}
table {
		border-collapse:collapse;
		border-radius: 5px;
		-moz-border-radius: 5px;
		font-family:Arial, Helvetica, sans-serif;
	}
table, th, td {
		border: 1px solid  #000;
		font-family:Arial, Helvetica, sans-serif;
	}
th, td {
		padding: 5px;border: 1px solid  #000;	
		font-family:Arial, Helvetica, sans-serif;
	}

table .heading{
	background-color:#CCCCCC;
	color: #000;
	padding:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}
.colgray{
	
	background-color: #EEE;
	font-family:Arial, Helvetica, sans-serif;
}







